* {
  font-family: 'Architects Daughter', cursive;
}
body {
  background-color: antiquewhite;
}
.App {
  max-width: 800px;
  margin: 0 auto;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 1rem 0 0 3rem;
  border-bottom: 1px solid black;
}
.item-list input {
  width: 40%;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 4px rgb(255, 136, 0) solid;
}
.name {
  text-transform: capitalize;
}

.add-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 2rem 0;
}


.add-form button, .yes-btn, .no-btn, .edit-btn, .delete-btn, .done-btn{
  padding: 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
  border: 4px solid yellowgreen;
  border-radius: 2px;
  font-weight: bold;
  background-color: teal;
  color: aliceblue;
}

.yes-btn {
  margin: 0.5rem;
}

.no-btn {
  background-color: rgb(38, 0, 128);
  color: white;
  border: 4px aqua solid;
}

.edit-btn {
  background-color: rgb(128, 109, 0);
  color: white;
  border: 4px rgb(255, 136, 0) solid;
}

.delete-btn {
  background-color: rgb(255, 0, 98);
  color: rgb(233, 224, 224);
  border: 4px rgb(128, 0, 64) solid;
}
.done-btn {
  background-color: rgb(128, 109, 0);
  color: white;
  border: 4px rgb(255, 136, 0) solid;
}

@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');


.add-form label {
  color: yellowgreen;
  font-size: x-large;
  padding: 00.5rem;
}

.add-form input {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 4px solid yellowgreen;

}

.delete-all-btn {
  padding: 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
  border: 4px solid orangered;
  border-radius: 2px;
  font-weight: bold;
  background-color: red;
  color: aliceblue;
}
button {
  cursor: pointer;
}
@media only screen and (max-width: 680px) {
  .item-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5px;
  }

  .item-list input {
    margin: 0;
  }

  .add-items {
    align-items: flex-start;
    margin-left: 5px;
  }

  .add-items input {
    width: 70%;
  }
  .add-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  
  }
  .add-form input {
    margin: 0;
  }

  #name {
    grid-column: 1 / span 2;
  }
  #delete-btn {
    float: right;
  }
  .no-grocery {
    margin: 5px !important;
  }
}