.loading {
    text-align: center;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
}

.rotate-loading {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    to {
      transform: rotate(360deg);
    }
  }
img {
  height: 100px;
  width: 100%;
  object-fit: cover;
  object-position: 95% 95%;
  border-radius: 20%;
}